@{
    ViewData["Title"] = "Thanks Page";
}

<div class="m-4 text-center">
    <h1 class="text-pink mb-4">THANK YOU</h1>
    <p>Your message was sent. Please wait a bit for our reply. It'll be soon</p>
</div>
