@{
    ViewData["Title"] = "Home Page";
}

<div class="row my-5">
    <div class="col-6 px-4 d-flex flex-column justify-content-center">
        <h1 class="text-pink mb-4">WELCOME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu nunc vitae sem molestie hendrerit vitae nec felis. Nulla facilisi. Quisque urna est, iaculis ut consequat ut, auctor sit amet tellus. Vivamus laoreet, mauris quis iaculis scelerisque, lectus eros vehicula magna, et varius enim turpis at justo. Suspendisse vitae velit libero. Sed porttitor diam et dolor elementum semper. Sed aliquam tempor velit, facilisis finibus diam tincidunt ut. Praesent ut sapien erat. Nullam volutpat ligula vel purus efficitur convallis. Integer nec imperdiet dui.
        Pellentesque ut varius sem. Aenean imperdiet vehicula purus, ac posuere lectus hendrerit egestas. Phasellus quis dictum nisl. Maecenas varius at magna non pulvinar. Aenean vel accumsan nulla. Etiam suscipit purus eget justo placerat, et maximus metus vulputate. Vivamus pretium urna ac erat consequat, facilisis feugiat eros condimentum. Suspendisse nec nisl arcu.</p>
    </div>
    <div class="col-6 mt-5">
        <img class="w-100"
        src="https://cdn.pixabay.com/photo/2020/02/08/10/35/soap-4829708_960_720.jpg" alt="" />
    </div>
</div>
